.nav-add-share {
    margin-left : 150px;
    color: green;
    display: flex;
    flex-direction: row;
    
}

.nav-la {
    display: block;
}

.list-shares {
    font-size: 1rem;
    margin-left: 20px;
    padding : 10px;    
    color: green;
    display: block-inline;
    width: 100%;
}

.remove{
    padding : 5px;
    width: 70px;    
}

table, th, td {
  border: 1px solid red;
  text-align: center; 
}

.nav-current-market-price {
    border : none;
    text-align: center;    
}

table {
    margin-left: 50px;
}